@import "../base/globals";

.main {


  .left {

    .asset-summary {

      .tag {
        color: $green;
        background-color: $light-green;
        font-weight: 500;
        border-radius: 17px;
        height: 28px;
        padding: 4px 14px;
        margin: 0 12px 12px 0;

        font-size: 13px;
        letter-spacing: .25px;
        line-height: 19px;
      }

      .name {
        margin-top: 15px;
        font-size: 36px;
        letter-spacing: -.29px;
        line-height: 42px;
        font-weight: 500;
      }

      // .latest-price {
      //   font-size: 36px;
      //   letter-spacing: -.29px;
      //   line-height: 42px;
      //   font-weight: 400;
      // }

    }

    .chart {
      text-align: center;
      font-size: 14px;
      margin: 15px 0;
      width: 100%;
      height: 250px;
    }

    #featured-price {
      font-size: 36px;
      letter-spacing: -.29px;
      line-height: 42px;
      font-weight: 400;
    }
    .asset-about {
      h2 {
        font-weight: 500;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid $darker;
      }

      .about-table {
        width: 100%;
        font-size: 14px;

        .row-2 {
          td {
            padding-top: 20px;
          }
        }

        thead {
          font-weight: 500;
        }

        tbody {
          font-weight: 400;

        }

        td {
          padding-top: 5px;
        }
      }
    }

  }

  .right {

    .asset-watch {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      position: -webkit-sticky;  // required for Safari
      position: sticky;
      top: 475px;

      .asset-watch-btn {
        background-color: $dark;
        border: none;
        cursor: pointer;
        color: $green;
        font-size: 14px;
        letter-spacing: .25px;
        line-height: 19px;
      }
    }
  }
}
