@import "../base/globals";

.portfolio-chart {
  margin-top: 10px;

  #latest-value {
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
  }

  #original-value {
    display: none;
  }
}

.portfolio-caption {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .25px;
  line-height: 19px;
}
.asset-detail-chart {

  .percent-change {

    .percent {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: .25px;
      line-height: 19px;
    }

    .timeframe {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: .25px;
      line-height: 19px;
      color: #8c8c8e;
    }
  }
  .button-bar {
    margin: 20px 0;
    border-bottom: 1px solid $darker;


    .time-buttons {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid transparent;
      color: $white;
      margin-right: 12px;

      font-weight: 500;
      font-size: 14px;
      letter-spacing: .25px;
      line-height: 19px;

      padding-bottom: 12px;

      cursor: pointer;
    }

    .time-buttons:hover {
      color: $green;
    }

    .time-buttons:focus {
      color: $green;
      border-bottom: 2px solid $green;
      outline: none;
    }


  }
}
