@import "../base/globals";

.main {
  background-color: $dark;
  color: $white;
  display: flex;
  justify-content: center;
  padding-top: 50px;

  .left {
    margin-top: 50px;
    flex-direction: column;
    margin-right: 50px;
    width: 690px;

    .summary-bar {

      .greeting {
        font-weight: 600;
      }

      .summary-stats{
        height: 300px;
        margin: 10px 0 50px 0;
        background-color: $grey;
      }
    }

    .asset-index {
      width: 690px;
      height: 300px;
    }
  }

  .right {
    margin-top: 50px;
    display: flex;
    background-color: blue;

    .dashboard-sidebar {
      width: 275px;
      background-color: cyan;
      height: 90%;
    }
  }

}
