@import "../base/globals";

.main {
  background-color: $dark;
  color: $white;
  display: flex;
  justify-content: center;
  padding-top: 50px;

  .left {
    margin-top: 50px;
    flex-direction: column;
    margin-right: 50px;
    width: 690px;

    .summary-bar {

      .greeting {
        font-weight: 600;
      }

      .summary-stats{
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        height: 100px;
        margin: 25px 0 30px 0;

        .metric {
          font-size: 28px;
          font-weight: 600;
          letter-spacing: 1.3px;
        }

        .summary-1, .summary-2, .summary-3 {
          border: 1px solid $darker;
          padding: 20px 30px;
        }

        .summary-1 {
          background-color: $red;
        }

        .summary-2 {
          background-color: $green;
        }

        .summary-3 {
          background-color: $darker;
        }

        .caption {
          padding-top: 10px;
          font-size: 16px;
        }
      }
    }

    .asset-index {
      width: 690px;

    }
  }

  .right {
    margin-top: 50px;
    background-color: $dark;


    // scroll help from https://bl.ocks.org/tristen
    .dashboard-sidebar {
      background-color: $dark;
      width: 275px;

      border: solid 1px $dark;
      -webkit-box-shadow: 0px 0px 13px 3px rgba(14,13,13,1);
      -moz-box-shadow: 0px 0px 13px 3px rgba(14,13,13,1);
      box-shadow: 0px 0px 13px 3px rgba(14,13,13,1);

      position: -webkit-sticky;  // required for Safari
      position: sticky;
      top: 100px;

      display:-webkit-box;
      display:flex;
      -webkit-box-orient:vertical;
      flex-direction:column;
      max-height: 85vh;


      .scrollable {

        min-height: 0;
        overflow-y:scroll;
        -webkit-box-flex:1;
        flex:1;
      }
    }
  }

}
//
// h1 {
//   position: -webkit-sticky;  // required for Safari
//   position: sticky;
//   top: 0;
//
// }
