@import "../base/globals";

.navbar {
  background-color: $dark;
  color: $white;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  padding: 0 50px 0 50px;

  div {
    justify-content: space-around;
  }

  .logo-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
    flex: 1;

    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 30px;
      flex: 1;
    }

    .asset-search-module {
      display: flex;
      justify-content: flex-end;
      background-color: $dark;
      height: 100%;
      flex: 4;
      border: 1px solid $darker;
      border-radius: 4px;
      align-items: center;

      .asset-search-icon {
        padding-left: 10px;
      }

      .asset-search-input {
        display: flex;
        justify-content: flex-start;
        width: 90%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 14px;
        padding-left: 10px;
        color: $white;
      }
    }

    .asset-search-module:hover {

    }
  }


  .nav-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    width: 100px;

    .link {
      cursor: pointer;
      text-decoration: none;
      font-size: 13px;
      letter-spacing: .25px;
      line-height: 19px;
      font-weight: 500;
      margin-left: 25px;
      color: $white;
    }

    .link:hover {
      color: $green;
    }
  }
}
