@import "../base/globals";

.sidebar-element {
  .sidebar-header-one, .sidebar-header-two {
    border-bottom: 1px solid $darker;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0;
    padding: 15px 0 15px 18px;

  }

  .sidebar-header-two {
    border-top: 1px solid $darker;
  }

  .sidebar-data {
    margin-right: 5px;
    font-size: 14px;

    .sidebar-table {
      width: 100%;
      text-align: center;
      tbody {

        td {
          padding: 20px 10px 20px 10px;
        }
      }

      tr:hover {
        // background-color: $darker;
        // border-right: 1px solid $darker;
        // border-left: 1px solid $darker;
        cursor: pointer;
        color: $green;
      }
    }
  }

}
