@import "../base/globals";

.asset-table {
  width: 100%;

  a {
    text-decoration: none;
    color: white;
    display: flex;
  }

  td {
    padding: 20px 0 20px 25px;
    font-size: 14px;
  }

  thead {
    font-weight: 600;
    border-bottom: 2px solid $darker;

    td {
      color: $green;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $darker;
      padding: 5px;
    }

    tr:hover {
      border-bottom: 1px solid $green;
      cursor: pointer;
    }

    tr:hover .asset-name {
      color: $green;
    }

    .tag {
      background-color: $darker;
      padding: 5px 8px;
      margin: 5px;
    }

    tr:hover .tag {
      background-color: $green;
    }
  }


}
