@import "../base/globals";

.right {

  .trade-sidebar {
    background-color: $dark;
    width: 275px;


    border: solid 1px $dark;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(14,13,13,1);
    -moz-box-shadow: 0px 0px 13px 3px rgba(14,13,13,1);
    box-shadow: 0px 0px 13px 3px rgba(14,13,13,1);

    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 100px;

    .tabs {

      .tab-header {
        display: flex;
        height: 48px;
        border-bottom: 1px solid $darker;
        padding: 0 20px;

        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: .5px;

          border-bottom: 2px solid transparent;

          margin-right: 15px;
        }

        li:hover {
          cursor: pointer;
        }

        .active-bullish {
          border-bottom: 2px solid $green;
        }

        .active-bearish {
          border-bottom: 2px solid $red;
        }
      }

      .message {
        display: flex;
        margin-top: 40px;
        border-top: 1px solid $darker;
        justify-content: center;
        align-items: center;

        height: 48px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .5px;
        line-height: 19px;
      }
    }
  }
}
